<footer>
<div class="footer-content">
  <h3>Hotel Sicilia</h3>
  <p>Est aspernatur porro ea vero quisquam ut quidem quidem et eius rerum ab laborum voluptate et consequuntur
     laudantium et sunt optio</p>
<ul class="socialMedia">
  <li><a href=""><img src="../../assets/img/google.png" alt=""></a></li>
  <li><a href=""><img src="../../assets/img/fb.png" alt=""></a></li>
  <li><a href=""><img src="../../assets/img/insta.png" alt=""></a></li>
</ul>

</div>

<div class="footer-bottom">
  <p>Copyright &copy;2023 Hotel Sicilia. designed by <span>KG software House</span></p>
</div>
</footer>

